<ul>
  <% if @project.items.empty? %>
  <li>No items.</li>
  <% end %>
<% @project.items.each do |item| %>
  <li class="<%= "#{item.done? ? 'done' : 'not-done'}" %>">
    <div class="done-btn">
      <% unless item.done? %>
        <%= button_to 'Done',
              { :controller => :items, :action => :update,
                :id => item.id, :project_id => @project.id,
                :item => { :done => true }},
              { :method => :patch } %>
      <% end %>
    </div>
    <%= link_to item.action, edit_project_item_path(@project, item) %>
  </li>
<% end %>
</ul>

<%= link_to 'New Item', new_project_item_path(project) %>
<% unless @project.items.empty? %>
  <%= link_to 'Clear Completed Items', clear_project_path(project),
        :method => :delete, :id => "clearer" %>
<% end %>
